.App {
  text-align: center;
}

h1 {
  text-align: center;
  color: #43304C;
}

.homeDemoTitle {
  color: #91A250;
}

.homeDemoHike {
  color: white;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-image: url('https://cdn-files.apstatic.com/hike/7010203_smallMed_1554398018.jpg');
}

.demoText {
  padding-top: 40px;
}

.main {
  background-image: url('Squirrel with mask.png');
  background-size: cover;
  background-blend-mode: soft-light;
  height: 75vh;
}

.searchHeading {
  font-size: 48px;
  color: #43304C;
  padding-top: 300px;
  padding-left: 40px;
}

main {
  padding-bottom: 20px;
}

nav {
  background-color: white;
  color: #91A250;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  text-align: center;
}

li {
  display: inline;
  padding: 8px 16px;
  text-decoration: none;
}

.resultsDiv {
  border: #91A250;
  border-style: solid;
  border-width: 5px;
}

.resultsImage {
  padding-right: 20px;
}